{% extends 'pages/admin/admin_base.html.twig' %}

{% block body %}

    <h2 class="text-dark mb-5">nouvelle skill</h2>
    {{ form_start(skillForm) }}
    <div class="flex flex-row">

        <div class="flex w-2/5 flex-col">
            <div class="flex my-2">
                {{ form_label(skillForm.name, null,  {'label_attr' : {'class' : 'text-golden pr-3'}}) }}
                {{ form_widget(skillForm.name , { 'attr': { 'class' : 'bg-light rounded shadow p-2'}}) }}
            </div>
            <div class="flex w-full h-24 my-2">
                {{ form_label(skillForm.description, null,  {'label_attr' : {'class' : 'w-2/8 text-golden pr-3'}}) }}
                {{ form_widget(skillForm.description , { 'attr': { 'class' : 'w-full bg-light rounded shadow'}}) }}
            </div>
            <div class="flex my-2">
                {{ form_label(skillForm.techno, null,  {'label_attr' : {'class' : 'text-golden pr-3'}}) }}
                {{ form_widget(skillForm.techno , { 'attr': { 'class' : 'bg-light rounded shadow p-2'}}) }}
            </div>
            <div class="flex items-center my-2">
                {{ form_label(skillForm.image, null,  {'label_attr' : {'class' : 'text-golden pr-3'}}) }}
                <div>
                    <div class="flex w-full items-center justify-center bg-grey-lighter text-golden hover:text-dark">
                        <label class="flex w-full flex-col items-center px-4 py-2 bg-white rounded-lg shadow-lg tracking-wide uppercase border cursor-pointer">
                            <span class="text-base leading-normal ">Select a file</span>
                            {{ form_widget(skillForm.image , { 'attr': { 'class' : 'hidden image-input' }}) }}
                        </label>
                    </div>
                </div>
            </div>
            <div class="flex mt-6">
                {{ form_widget(skillForm.save, {'attr': {'class' : 'button button-dark' }}) }}
            </div>
        </div>
        <div class="flex ml-6 w-48 h-48 rounded-lg border items-center justify-center">
            <span name="no-img-span" class="text-golden">No Image</span>
            <img class="rounded" src="" id="preview" alt="">
        </div>
    </div>

    {{ form_end(skillForm) }}
{% endblock %}


{% block customJS %}
    {{ encore_entry_script_tags('custom') }}
{% endblock %}